In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('holidays_events.csv')
df.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [4]:
# shape 
print(df.shape)

(350, 6)

In [5]:
# names of columns
df.columns

Index(['date', 'type', 'locale', 'locale_name', 'description', 'transferred'], dtype='object')

In [7]:
# missing values
df.isnull().sum() #No missing values

date           0
type           0
locale         0
locale_name    0
description    0
transferred    0
dtype: int64

In [8]:
df2 = df[df['type'] == 'Transfer']
df2.head()

,date,type,locale,locale_name,description,transferred
20,2012-10-12,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
73,2013-10-11,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
136,2014-10-10,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
256,2016-05-27,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
265,2016-07-24,Transfer,Local,Guayaquil,Traslado Fundacion de Guayaquil,False

In [10]:
df3 = df[df['transferred'] == False]
df3.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [14]:
df['description'] = df['description'].apply(lambda x: x.strip().lower())

In [16]:
df.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,fundacion de manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,provincializacion de cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,fundacion de cuenca,False
3,2012-04-14,Holiday,Local,Libertad,cantonizacion de libertad,False
4,2012-04-21,Holiday,Local,Riobamba,cantonizacion de riobamba,False

In [17]:
df['type'].unique()

array(['Holiday', 'Transfer', 'Additional', 'Bridge', 'Work Day', 'Event'],
      dtype=object)

In [ ]:
dic = {"holday": "Holiday",
       "trnsfer": "Transfer",
       "addtional": "Additional",
       "briday": "Bridge",
       "Wrk day": "Work Day",
       "evnt": "Event"}

# replacement function
def replace_words(types):
    return dic.get(types, types)

df['type'] = df['type'].apply(lambda x: replace_words(x))